html, body{
  height: 100%;
}

body{
  font-family: Helvetica;
  margin: 0;
  padding: 0;
  background: linear-gradient(180deg, rgb(64, 9, 175) 0%, rgb(136, 104, 188) 100%);
  color: rgba(255, 255, 255, 0.817);
}

button{
  background: rgb(110, 72, 170);
  color: #fff;
  padding: 0 45px;
  border: 2px solid #fff;
  border-radius: 15px;
  height: 50px;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 1.2em;
  cursor: .4s;
  cursor: pointer;
}

button:hover{
  background-color: blueviolet;
}
